@model EPiServer.Core.PageData
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Html.Partial("_ThemeStyles", Model)

    @Html.Partial(Features.MetaData.Constants.ViewPaths.MetaData, Model)
    @Html.Partial(Features.PageScripts.Constants.ViewPaths.GlobalPageHeadScripts, Model)
    @Html.Partial(Features.PageScripts.Constants.ViewPaths.PageHeadScripts, Model)
</head>
<body>
    @Html.Partial(Features.PageScripts.Constants.ViewPaths.GlobalPageBodyStartScripts, Model)
    @Html.Partial(Features.PageScripts.Constants.ViewPaths.PageBodyStartScripts, Model)

    @RenderBody()

    @Html.Partial("_ThemeScripts", Model)

    @Html.Partial(Features.PageScripts.Constants.ViewPaths.GlobalPageBodyEndScripts, Model)
    @Html.Partial(Features.PageScripts.Constants.ViewPaths.PageBodyStartScripts, Model)
</body>
</html>