@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model Feature.CallToAction.Models.Blocks.CallToActionBlock
<div class="about_area">
    <div class="shape-1 d-none d-xl-block">
        <img src="/assets-wemeet/img/about/shap1.png" alt="">
    </div>
    <div class="shape-2 d-none d-xl-block">
        <img src="/assets-wemeet/img/about/shap2.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="about_thumb">
                    <img src="@Url.ContentUrl(Model.BackgroundImage)" alt="">
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-md-6">
                <div class="about_info">
                    <div class="section_title">
                        <span class="sub_heading">@Html.PropertyFor(m => m.SubHeading)</span>
                        <h3 @Html.EditAttributes(m => m.Heading)>@Html.Raw(Model.Heading)</h3>
                    </div>
                    <p>@Html.PropertyFor(m => m.Blurb)</p>
                    <a class="boxed-btn-red" href="@Url.PageLinkUrl(Model.ButtonLink)" @Html.EditAttributes(m => m.ButtonText)>@Model.ButtonText</a>
                </div>
            </div>
        </div>
    </div>
</div>